[submodule "Informed-And-Uninformed-Search-Algorithms-Implementation"]
	path = Informed-And-Uninformed-Search-Algorithms-Implementation
	url = https://github.com/parnianf/Informed-And-Uninformed-Search-Algorithms-Implementation.git
[submodule "Checkers-Game-Using-Minimax"]
	path = Checkers-Game-Using-Minimax
	url = https://github.com/parnianf/Checkers-Game-Using-Minimax.git
[submodule "Suduko-Solver"]
	path = Suduko-Solver
	url = https://github.com/parnianf/Suduko-Solver.git
[submodule "Suduko-Solver-Using-Genetic-Algorithms"]
	path = Suduko-Solver-Using-Genetic-Algorithms
	url = https://github.com/parnianf/Suduko-Solver-Using-Genetic-Algorithms.git
[submodule "Suduko-Solver-Using-Genetic-Algorithm"]
	path = Suduko-Solver-Using-Genetic-Algorithm
	url = https://github.com/parnianf/Suduko-Solver-Using-Genetic-Algorithm.git
[submodule "Image-Classification-with-Feed-Forward-Neural-Network-from-scratch"]
	path = Image-Classification-with-Feed-Forward-Neural-Network-from-scratch
	url = https://github.com/parnianf/Image-Classification-with-Feed-Forward-Neural-Network-from-scratch.git
[submodule "Oregon-Wildlife-Image-Classification-Using-Keras"]
	path = Oregon-Wildlife-Image-Classification-Using-Keras
	url = https://github.com/parnianf/Oregon-Wildlife-Image-Classification-Using-Keras.git
[submodule "Movies-and-TV-Shows-Type-Classification"]
	path = Movies-and-TV-Shows-Type-Classification
	url = https://github.com/parnianf/Movies-and-TV-Shows-Type-Classification.git
[submodule "Divar-Posts-Classification-Using-Naive-Bayes"]
	path = Divar-Posts-Classification-Using-Naive-Bayes
	url = https://github.com/parnianf/Divar-Posts-Classification-Using-Naive-Bayes.git
