[submodule "Informed-And-Uninformed-Search-Algorithms-Implementation"]
	path = Informed-And-Uninformed-Search-Algorithms-Implementation
	url = https://github.com/parnianf/Informed-And-Uninformed-Search-Algorithms-Implementation.git
